<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div style="width: 375px" class="m-auto mt-5">
    <div th:if="${addedMessage != null}" class="alert alert-secondary mt-3" role="alert" th:text="${addedMessage}">
    </div>
    <div class="mt-3 ml-5">
        <h3 class="mb-3">Add user</h3>
        <form th:action="@{/add}" th:object="${user}" method="post">
            <table class="long-search-table">
                <tr>
                    <td>
                        <p><label for="login">Login:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="login" th:field="${user.login}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="firstName">First name:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="firstName" th:field="${user.firstName}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><label for="lastName">Last name:</label></p>
                    </td>
                    <td>
                        <input class="form-control" type="text" id="lastName" th:field="${user.lastName}"
                               th:required="true"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-success" id="addUser" value="Add"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
