.nav-header {
    color: azure;
    font-size: 140%;
}

.nav-header:hover {
    text-decoration: none;
    color: azure;
}

.clickable-row:hover {
    cursor: pointer;
}

.date {
    font-size: 50%;
    color: #5b5b5b;
}

.post {
    background-color: #e4dff5;
}
