<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div class="d-flex">
    <div class="w-25 p-2 pl-3">
        <div id="userInfo" class="mb-3" style="height: 108px">
            <span th:if="${loggedUser == null}">No logged user, please select one from the list below</span>
            <fieldset th:if="${loggedUser != null}" class="border">
                <legend class="ml-3 w-auto" th:text="'Logged as ' + ${loggedUser.login}"></legend>
                <ul>
                    <li th:text="'First name: ' + ${loggedUser.firstName}"></li>
                    <li th:text="'Last name: ' + ${loggedUser.lastName}"></li>
                </ul>
            </fieldset>
        </div>
        <div id="userList">
            <h4>Login as:</h4>
            <table class="table table-hover table-bordered">
                <tbody>
                <tr th:each="user : ${userList}" th:data="${user.login}" class="clickable-row"
                    th:onclick="javascript:rowClicked(this.getAttribute('data'));">
                    <td>
                        <span th:text="${user.login}"></span>
                        <i th:if="${loggedUser != null && loggedUser.login == user.login}" style="color: #563d7c"
                           class="fas fa-eye float-right"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <script>
                function rowClicked(value) {
                    location.href = "/logged/" + value;
                }
            </script>
        </div>
    </div>

    <div class="w-50 p-2">

        <div id="newPost" class="mt-2" style="height: 180px">
            <span th:if="${loggedUser == null}">You cannot post anything unless you are logged in</span>
            <div th:if="${loggedUser != null}">
                <form th:action="@{/add-post}" th:object="${newPost}" method="post">
                    <div class="form-group">
                        <label for="post">Write what you think...</label>
                        <textarea class="form-control" id="post" rows="3" th:field="${newPost.content}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Post!</button>
                </form>
            </div>
        </div>

        <div id="postList" class="mt-2 w-100">
            <table class="w-100">
                <tbody>
                <tr th:each="post : ${postList}">
                    <td>
                        <div class="shadow-sm p-3 mb-5 post rounded w-100">
                            <strong th:text="${post.author.login}"></strong>
                            <p class="date" th:text="${post.postedAt}"></p>
                            <p th:text="${post.content}"></p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
