<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Follow it!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/f23518e6d6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #563d7c;">
    <div class="ml-5"></div>
    <a class="navbar-brand" href="/"><img th:src="@{/img/logo.png}" height="25px" class="mr-1 mb-1">Follow it!</a>
</nav>

<div class="d-flex position-relative">
    <div class="w-25 p-2 pl-3 position-fixed overflow-auto vh-90">
        <div id="userInfo" class="mb-3">
            <fieldset class="border p-2" style="height: 160px">
                <legend class="ml-3 w-auto">User details</legend>
                <span th:if="${loggedUser == null}">No logged user, please select one from the list below</span>
                <ul th:if="${loggedUser != null}">
                    <li th:text="'Login: ' + ${loggedUser.login}"></li>
                    <li th:text="'First name: ' + ${loggedUser.firstName}"></li>
                    <li th:text="'Last name: ' + ${loggedUser.lastName}"></li>
                    <li th:text="'Number of followers: ' + ${numberOfFollowing}"></li>
                </ul>
            </fieldset>
        </div>
        <div id="addUser" class="mb-3">
            <div th:if="${addedMessage != null}" class="alert alert-secondary mt-3 alert-dismissable" role="alert">
                <span th:text="${addedMessage}"></span>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            </div>
            <fieldset class="border p-2">
                <legend class="ml-3 w-auto">Add user</legend>
                <form th:action="@{/add}" th:object="${newUser}" method="post">
                    <input class="form-control form-control-sm mb-1" type="text" id="login" placeholder="Login"
                           th:field="*{login}" required/>
                    <input class="form-control form-control-sm mb-1" type="text" id="firstName" placeholder="First name"
                           th:field="*{firstName}" required/>
                    <input class="form-control form-control-sm mb-1" type="text" id="lastName" placeholder="Last name"
                           th:field="*{lastName}" required/>
                    <input type="submit" class="btn btn-secondary btn-sm float-right" value="Add"/>
                </form>
            </fieldset>
        </div>
        <div id="userList">
            <h4>Login as:</h4>
            <table class="table table-hover table-bordered">
                <tbody>
                <tr th:each="user : ${userList}" th:data="${user.login}" class="clickable-row"
                    th:onclick="javascript:rowClicked(this.getAttribute('data'));">
                    <td>
                        <span th:text="${user.login}"></span>
                        <i th:if="${loggedUser != null && loggedUser.login == user.login}" style="color: #563d7c"
                           class="fas fa-eye float-right" data-fa-transform="down-5"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <script>
                function rowClicked(value) {
                    location.href = "/logged/" + value;
                }
            </script>
        </div>
    </div>

    <div class="w-50 p-2" style="margin-left: 25%">
        <div id="newPost" class="mt-2" style="height: 180px">
            <span th:if="${loggedUser == null}">Log in to post your thoughts</span>
            <div th:if="${loggedUser != null}">
                <form th:action="@{/add-post}" th:object="${newPost}" method="post">
                    <div class="form-group">
                        <label for="post">Add post</label>
                        <textarea class="form-control" id="post" rows="3" placeholder="Write what you think..."
                                  th:field="${newPost.content}" style="resize: none" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Send!</button>
                </form>
            </div>
        </div>

        <div id="postList" class="mt-2 w-100">
            <table class="w-100">
                <tbody>
                <tr th:each="post : ${postList}">
                    <td>
                        <div class="shadow-sm p-3 mb-5 post rounded w-100">
                            <strong th:text="${post.author.login}"></strong>
                            <p class="date" th:text="${post.postedAt}"></p>
                            <p th:text="${post.content}"></p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-25 p-2 position-fixed overflow-auto vh-90" style="margin-left: 75%">
        <fieldset id="recommended" class="border p-2 pl-3 mb-3">
            <legend class="w-auto">Recommended to follow</legend>
            <span th:if="${loggedUser == null}">Log in to see your recommendations</span>
            <table class="w-100" th:if="${loggedUser != null}">
                <tbody>
                <tr th:each="user: ${recommendedUsers}">
                    <td>
                        <form th:action="@{/follow}" th:object="${newFollowing}" method="post">
                            <span th:text="${user.login}"></span>
                            <input type="hidden" th:value="${user.login}" name="login"/>
                            <button type="submit" class="btn btn-light btn-sm float-right mr-5">❤</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset id="findFollowing" class="border mb-3 p-2 pl-3">
            <legend  class="w-auto">Find to follow</legend>
            <span th:if="${loggedUser == null}">Log in to find new followers</span>
            <div th:if="${loggedUser != null}">
                <form th:action="@{/find}" th:object="${userToFind}" method="post">
                    <input class="form-control form-control-sm mb-1" type="text" placeholder="Login"
                           th:field="*{login}" required/>
                    <input type="submit" class="btn btn-secondary btn-sm float-right" value="Find"/>
                </form>
                <div th:if="${foundedUser != null}" class="mt-1">
                    <form th:action="@{/follow}" th:object="${newFollowing}" method="post">
                        <span th:text="${foundedUser.login}"></span>
                        <input type="hidden" th:value="${foundedUser.login}" name="login"/>
                        <button type="submit" class="btn btn-light btn-sm float-right mr-5">❤</button>
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset id="following" class="border p-2 pl-3">
            <legend class="w-auto">Following</legend>
            <span th:if="${loggedUser == null}">Log in to see your followers</span>
            <table class="w-100" th:if="${loggedUser != null}">
                <tbody>
                <tr th:each="user: ${followedUsers}">
                    <td>
                        <form th:action="@{/unfollow}" th:object="${unfollow}" method="post">
                            <span th:text="${user.login}"></span>
                            <input type="hidden" th:value="${user.login}" name="login"/>
                            <button type="submit" class="btn btn-light btn-sm float-right mr-5">💔</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
</body>
</html>
